@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Ad Soyad</th>
                                <th>Email</th>
                                <th>Başlık</th>
                                <th>Mesaj</th>
                                <th>Gönderim Tarihi</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Email</td>
                                        <td>@item.Subject</td>
                                        <td>@item.Message</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td><a href="/Admin/Contact/DeleteContact/@item.ContactId" class="btn btn-warning"><i class="fas fa-trash-alt"></i></a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

