@model List<ResultUserDto>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Kullanıcı Adı</th>
                                <th>Email</th>
                                <th>Rolü</th>
                                <th>Adres Detayı</th>
                                <th>Rol <span class="success">Ekle</span> - <span class="danger">Sil</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Name @item.Surname</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        @if (item.ExistUserRole == true)
                                        {
                                            <td><i class="fas fa-check success"></i></td>
                                        }
                                        else
                                        {
                                            <td><i class="fas fa-times danger"></i></td>
                                        }
                                        <td><a href="/Admin/User/UserAddressInfo/@item.Id" class="btn btn-success">Adres Detayı</a></td>
                                        @if(item.ExistUserRole == false)
                                        {
                                            <td><a href="/Admin/Role/UserRoleCreate/@item.Id" class="btn btn-warning">Rol Ekle</a></td>
                                        }
                                        else
                                        {
                                            <td><a href="/Admin/Role/UserRoleCreate/@item.Id" class="btn btn-danger">Rol Sil</a></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

