@model List<ResultSendboxMessageDto>
@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
    int count = 0;
}

<div class="container">
    <div class="info-block">
        <p>Total paid invoices 5340, unpaid 130. <span class="pull-right"><a href="app/invoice.html">Invoice Summary <i class="fa fa-long-arrow-right"></i></a></span> </p>
    </div>
    <div class="table-responsive">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Gelen</th>
                    <th>Konu</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                    <th>Sil</th>
                    <th>Mesajı Aç</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td class="text-truncate">@count</td>
                        <td class="text-truncate">@item.ReceiverId</td>
                        <td class="text-truncate">@item.Subject</td>
                        <td class="text-truncate">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                        <td class="text-truncate">@item.IsRead</td>
                        <td class="text-truncate"><a href="" class="btn btn-danger">Sil</a></td>
                        <td class="text-truncate"><a href="" class="btn btn-success">Mesajı Aç</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
